.header {
    grid-area: h;
    background-color: black;
    height: 120px;
    max-height: 120px;
    display: block;
    color: white;
}

.header img {
    width: 60px;
    padding: 25px 0 0 35px;
    vertical-align: middle;
}

.loginBlock {
    /*float: right;*/
    margin: 35px 15px 0 85%;
}

.loginBlock a {
    text-decoration: none;
    padding: 10px 10px;
    background-color: white;
    border-radius: 7px;
}

.textLogo {
    margin-top: 10px;
    color: white;
}