.nav {
    grid-area: n;
    background-color: #429EA6;
    /*background: linear-gradient(#881144, #BF473C);*/
    padding: 20px 40px;
}

.item {
    align-items: center;
    display: flex;
    /*justify-content: center;*/
}

.item a {
    padding: 0 15px;
    color: #ffffff;
    text-decoration: none;
    font-size: 26px;
    transition: background-color 0.5s;
}

.item img {
}

/*.item :hover {*/
/*    background-color: #881144;*/
/*}*/

.logo {
    align-items: center;
    display: flex;
    justify-content: center;
}

.nav img {
    width: 10%;
    height: 10%;
    display: inline-block;
}