.nav {
    grid-area: n;
    background: rgb(3,164,146);
    background: linear-gradient(90deg, rgba(3,164,146,1) 0%, rgba(3,164,146,1) 28%, rgba(7,145,130,1) 83%, rgba(7,145,130,1) 100%);
    /*background: linear-gradient(#881144, #BF473C);*/
    padding: 20px 40px;
}

.item {
    align-items: center;
    display: flex;
    /*justify-content: center;*/
}

.item a {
    padding: 0 15px;
    color: #ffffff;
    text-decoration: none;
    font-size: 26px;
    transition: background-color 0.5s;
}

.item img {
}

/*.item :hover {*/
/*    background-color: #881144;*/
/*}*/

.logo {
    align-items: center;
    display: flex;
    justify-content: center;
}

.nav img {
    width: 10%;
    height: 10%;
    display: inline-block;
}

.captionBlock {
    grid-area: n;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    color: #0d0c25;
}