.nav {
    grid-area: n;
    background-color: #ea661d;
    /*background: linear-gradient(#881144, #BF473C);*/
    padding: 20px 40px;
}

.item a {
    color: black;
    text-decoration: none;
    font-size: 26px;
    transition: background-color 0.5s;
}

.item a:hover {
    background-color: #d1d16c;
}