.formControl.error input,
.formControl.error textarea {
    border: 3px red solid;
}

.formControl.error {
    color: red;
}

.fromSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: red;
}

.inputStyle {
    min-height: 45px;
    font-size: inherit;
    font-weight: bold;
    min-width: 350px;
    text-align: center;
    margin: 10px 0;
}