.photoContainer {
    padding: 25px 25px 25px 25px;
    display: block;
    align-items: center;
    vertical-align: center;
    text-align: center;
}

.photoContainer img {
    width: 180px;
    max-width: 180px;
}

.infoContainer > div {
    margin-top: 10px;
}

.infoContainer > div input {
    padding-left: 10%;
    min-width: 350px;
}

.profile {
    margin-left: 50px;
    display: inline-block;
    align-items: center;
}