.travelsBlock {
    margin: 15px 0 0 15px;
}

.travelItem {
    background-color: #ffc65f;
    max-width: 450px;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: inherit;
}

.itemText {
    padding-left: 10px;
}

textarea {
    resize: none;
    min-height: 40px;
    min-width: 420px;
    font-size: 16px;
}