h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}

.travelsBlock {
    margin: 15px 0 0 15px;
}

.travelItem {
    background-color: #84bddd;
    max-width: 350px;
    min-height: 350px;
    min-width: 350px;
    border-radius: 10px;
    height: 50px;
    align-items: center;
    margin-top: inherit;
    float: left;
    margin-right: 10px;
    border: 2px solid #0d0c25;
}

.itemHeadText {
    text-align: center;
    padding: 10px;
    font-family: "Bookman Old Style";
    max-height: 20%;
    min-height: 20%;
}

.itemCountryText {
    text-align: center;
    color: #8615cd;
    max-height: 10%;
    min-height: 10%;
}

.itemDetailsText {
    padding: 0 10%;
    color: #0d0c25;
    font-size: 24px;
}

.itemDiv div {
    margin: 0 0 0 10px;
}

textarea {
    resize: none;
    min-height: 40px;
    min-width: 420px;
    font-size: 16px;
}

.item {
    margin-top: 10px;
}

.addButtonCategory {
    margin-top: 10px;
    padding-left: 10%;
}